---
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
          Oops, something broke!
        </h1>
    </div>
</section>
</Base>
