---
import Hero from '@/components/Hero.astro';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <div class='m-auto flex flex-wrap items-center justify-between p-16'>
    <Hero />
  </div>
</Base>
