<footer class="fixed bottom-0 left-0 z-20 w-full bg-white border-t border-gray-200 shadow-sm md:flex md:items-center md:justify-between dark:bg-gray-800 dark:border-gray-600">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">built by meesh</a>
    </span>
  </div>
</footer>
